<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>AMSParents</title>
</head>
<body>
  <div class="homepage">
    <img src="{% static 'images/homepage.jpeg' %}" alt="">
    <div class="content">
      <h1>Connect with your childs university</h1>
      <div class="dropdown">
        <button class="dropbtn">Choose the university</button>
        <div class="dropdown-content">
          <a href="strathmorelogin">Strathmore University</a>
          <a href="daystar">Daystar University</a>
          <a href="#">USIU</a>
          <a href="#">University of Nairobi</a>
        </div>
    </div>
  </div>
  
</body>
</html>