<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'strathmore.css' %}">
    <title>AMS</title>
</head>
<body>
    <div class="page-content">
        <div class="page-content-nav">
            <div id="paramNavigationMenu">
                <ul class="navigation-menu">
                    <li class="link-item">
                        <a class="internal" alt="Dashboard" href="shome">Home Page</a></li>
        <li class="link-item"><a class="internal" alt="My Details" href="sstudentdetails">Student Details</a></li>
        <li class="link-item"><a class="internal" alt="View Class Attendance records" href="sattendance">Attendance</a></li>
        <li class="link-item"><a class="internal" alt="Progress Report thus far" href="spreport">Progress Report</a></li>
        <li class="link-item"><a class="internal" alt="Download Fee Structures" href="sfeestructure">Fee Structures</a></li>
        <li class="link-item"><a class="internal" alt="Fee Statement" href="sfeestatement">Fees Statement</a></li>
        <li class="link-item"><a class="internal" alt="Pay Fees" href="spayfee">Pay Fees</a></li>
        <li class="link-item"><a class="internal" alt="Log out of the system" href="strathmorelogin">Log Out</a></li></ul></div></div>
            <div style="clear: both;"></div>
            <div class="page-content-main"><div style="color: grey; size: 6px;"><span align="center">Best viewed with 
                        <a href="http://www.mozilla.org/en-US/firefox" target="_blank"><img src="https://su-sso.strathmore.edu/web/images/firefox-logo.jpg" width="25" height="25" title="Mozila Firefox" border="0"></a><a href="https://www.google.com/chrome/?hl=en&amp;brand=chmo" target="_blank"><img src="https://su-sso.strathmore.edu/web/images/chrome-logo.jpg" width="35" height="25" title="Google Chrome" border="0"></a></span><span align="center">
                        Download the <font color="green"><b> myStrath </b></font> mobile app from the Android Play Store or Apple App Store to view your childs details on the go. 
                    </span><span id="paramStudentDetails" align="right" style="float: right;">{{ user.first_name }} {{ user.last_name }}</span></div>
                    <div id="page-content-box">

                            <div class="mycontents">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee Structure</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        .center {
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
}
        </style>
</head>
<body>
    <h2>Fee Structure</h2>
    <br>

    <table class="center" style="width: 50%;">
        <tr>
            <th>Student Year</th>
            <th>Download</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="{% static 'images/Year1.pdf' %}" download="Year1_fee_Statement">Download</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="{% static 'images/Year2.pdf' %}" download="Year2_fee_Statement">Download</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="{% static 'images/Year3.pdf' %}" download="Year3_fee_Statement">Download</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="{% static 'images/Year4.pdf' %}" download="Year4_fee_Statement">Download</a></td>
        </tr>

    </table>
</body>


                            </div>
                        
                        </div></div>
                            
</body>
</html>

