<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'strathmore.css' %}">
    <title>AMS</title>
</head>
<body>
    <div class="page-content">
        <div class="page-content-nav">
            <div id="paramNavigationMenu">
                <ul class="navigation-menu">
                    <li class="link-item">
                        <a class="internal" alt="Dashboard" href="shome">Home Page</a></li>
        <li class="link-item"><a class="internal" alt="My Details" href="sstudentdetails">Student Details</a></li>
        <li class="link-item"><a class="internal" alt="View Class Attendance records" href="sattendance">Attendance</a></li>
        <li class="link-item"><a class="internal" alt="Progress Report thus far" href="spreport">Progress Report</a></li>
        <li class="link-item"><a class="internal" alt="Download Fee Structures" href="sfeestructure">Fee Structures</a></li>
        <li class="link-item"><a class="internal" alt="Fee Statement" href="sfeestatement">Fees Statement</a></li>
        <li class="link-item"><a class="internal" alt="Pay Fees" href="spayfee">Pay Fees</a></li>
        <li class="link-item"><a class="internal" alt="Log out of the system" href="strathmorelogin">Log Out</a></li></ul></div></div>
            <div style="clear: both;"></div>
            <div class="page-content-main"><div style="color: grey; size: 6px;"><span align="center">Best viewed with 
                        <a href="http://www.mozilla.org/en-US/firefox" target="_blank"><img src="https://su-sso.strathmore.edu/web/images/firefox-logo.jpg" width="25" height="25" title="Mozila Firefox" border="0"></a><a href="https://www.google.com/chrome/?hl=en&amp;brand=chmo" target="_blank"><img src="https://su-sso.strathmore.edu/web/images/chrome-logo.jpg" width="35" height="25" title="Google Chrome" border="0"></a></span><span align="center">
                        Download the <font color="green"><b> myStrath </b></font> mobile app from the Android Play Store or Apple App Store to view your childs details on the go. 
                    </span><span id="paramStudentDetails" align="right" style="float: right;">{{ user.first_name }} {{ user.last_name }}</span></div>
                    <div id="page-content-box">
                        
                            <div class="mycontents">
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
h3 {
  text-align: center;
}
</style>
</head>
<body>

	<h3>Student details</h3>

<table style="width: 50%;" class="center" >
  <tr>
    <th>ID/Passport Number</th>
    <td>      {{ user_details.idno }}      </td>
  </tr>
  <tr>
    <th>Postal address</th>
    <td>{{ user_details.pcode }} </td>
  </tr>
  <tr>
    <th>Town</th>
    <td>{{ user_details.town }} </td>
  </tr>
  <tr>
    <th>Home County</th>
    <td>{{ user_details.hcountry }} </td>
  </tr>
  <tr>
    <th>Residence</th>
    <td>{{ user_details.residence }} </td>
  </tr>
  <tr>
    <th>Religion</th>
    <td>{{ user_details.religion }} </td>
  </tr>
  <tr>
    <th>Postal code</th>
    <td>{{ user_details.pcode }} </td>
  </tr>
  <tr>
    <th>Marital status</th>
    <td>{{ user_details.mstatus }} </td>
  </tr>
  <tr>
    <th>Mobile Number</th>
    <td>{{ user_details.mno }} </td>
  </tr>
  <tr>
    <th>Personal email</th>
    <td>{{ user_details.pemail }} </td>
  </tr>
</table>

<h3>Parents Details</h3>

<table style="width:50% ;" class="center">
    <tr>
        <th>Fathers name</th>
        <td>   {{ user_details.faname }}     </td>
      </tr>
      <tr>
        <th>Fathers mobile no</th>
        <td>{{ user_details.fmno }} </td>
      </tr>
      <tr>
        <th>Fathers email</th>
        <td>{{ user_details.femail }} </td>
      </tr>
      <tr>
        <th>Fathers occupation</th>
        <td>{{ user_details.foccup }} </td>
      </tr>
      <tr>
        <th>Mothers name</th>
        <td>{{ user_details.mname }} </td>
      </tr>
      <tr>
        <th>Mothers mobile no</th>
        <td>{{ user_details.mmno }} </td>
      </tr>
      <tr>
        <th>Mothers email</th>
        <td>{{ user_details.memail }} </td>
      </tr>
      <tr>
        <th>Mothers occupation</th>
        <td>{{ user_details.moccup }} </td>
      </tr>
      <tr>
        <th>Gaurdians name</th>
        <td>{{ user_details.gname }} </td>
      </tr>
      <th>Gaurdians mobile no</th>
      <td>{{ user_details.gmno }} </td>
    </tr>
    <tr>
      <th>Gaurdians email</th>
      <td>{{ user_details.gemail }} </td>
    </tr>
    <tr>
      <th>Gaurdians occupation</th>
      <td>{{ user_details.goccup }} </td>
    </tr>
</table>

</body>

                            </div>
                        
                        </div></div>
                            
</body>
</html>

